# EBAC - Regressão II - regressão múltipla

## Tarefa I

#### Previsão de renda II

Vamos continuar trabalhando com a base 'previsao_de_renda.csv', que é a base do seu próximo projeto. Vamos usar os recursos que vimos até aqui nesta base.

|variavel|descrição|
|-|-|
|data_ref                | Data de referência de coleta das variáveis |
|index                   | Código de identificação do cliente|
|sexo                    | Sexo do cliente|
|posse_de_veiculo        | Indica se o cliente possui veículo|
|posse_de_imovel         | Indica se o cliente possui imóvel|
|qtd_filhos              | Quantidade de filhos do cliente|
|tipo_renda              | Tipo de renda do cliente|
|educacao                | Grau de instrução do cliente|
|estado_civil            | Estado civil do cliente|
|tipo_residencia         | Tipo de residência do cliente (própria, alugada etc)|
|idade                   | Idade do cliente|
|tempo_emprego           | Tempo no emprego atual|
|qt_pessoas_residencia   | Quantidade de pessoas que moram na residência|
|renda                   | Renda em reais|

In [7]:
import pandas as pd
import seaborn as sns
from seaborn import load_dataset
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.model_selection import train_test_split

import patsy
import statsmodels.api as sm
import statsmodels.formula.api as smf

%matplotlib inline

In [8]:
df = pd.read_csv('previsao_de_renda.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15000 non-null  int64
 1   data_ref               15000 non-null  object
 2   id_cliente             15000 non-null  int64
 3   sexo                   15000 non-null  object
 4   posse_de_veiculo       15000 non-null  bool
 5   posse_de_imovel        15000 non-null  bool
 6   qtd_filhos             15000 non-null  int64
 7   tipo_renda             15000 non-null  object
 8   educacao               15000 non-null  object
 9   estado_civil           15000 non-null  object
 10  tipo_residencia        15000 non-null  object
 11  idade                  15000 non-null  int64
 12  tempo_emprego          12427 non-null  float64
 13  qt_pessoas_residencia  15000 non-null  float64
 14  renda                  15000 non-null  float64
dtypes: bool(2), float64(3), int64(4), object(6)
memory usage: 1.5+ MB

1. Separe a base em treinamento e teste (25% para teste, 75% para treinamento).
2. Rode uma regularização *ridge* com alpha = [0, 0.001, 0.005, 0.01, 0.05, 0.1] e avalie o $R^2$ na base de testes. Qual o melhor modelo?
3. Faça o mesmo que no passo 2, com uma regressão *LASSO*. Qual método chega a um melhor resultado?
4. Rode um modelo *stepwise*. Avalie o $R^2$ na vase de testes. Qual o melhor resultado?
5. Compare os parâmetros e avalie eventuais diferenças. Qual modelo você acha o melhor de todos?
6. Partindo dos modelos que você ajustou, tente melhorar o $R^2$ na base de testes. Use a criatividade, veja se consegue inserir alguma transformação ou combinação de variáveis.
7. Ajuste uma árvore de regressão e veja se consegue um $R^2$ melhor com ela.

In [10]:
X = df.drop(['Unnamed: 0', 'id_cliente'], axis=1)
X

,data_ref,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,qt_pessoas_residencia,renda
0,2015-01-01,F,False,True,0,Empresário,Secundário,Solteiro,Casa,26,6.602740,1.0,8060.34
1,2015-01-01,M,True,True,0,Assalariado,Superior completo,Casado,Casa,28,7.183562,2.0,1852.15
2,2015-01-01,F,True,True,0,Empresário,Superior completo,Casado,Casa,35,0.838356,2.0,2253.89
3,2015-01-01,F,False,True,1,Servidor público,Superior completo,Casado,Casa,30,4.846575,3.0,6600.77
4,2015-01-01,M,True,False,0,Assalariado,Secundário,Solteiro,Governamental,33,4.293151,1.0,6475.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2016-03-01,F,False,True,0,Empresário,Secundário,Solteiro,Casa,48,13.887671,1.0,7990.58
14996,2016-03-01,F,False,True,0,Pensionista,Superior completo,Solteiro,Casa,57,NaN,1.0,10093.45
14997,2016-03-01,F,True,True,0,Assalariado,Superior completo,Casado,Casa,45,7.832877,2.0,604.82
14998,2016-03-01,M,True,False,0,Empresário,Superior completo,Casado,Casa,36,4.298630,2.0,3352.27
14999,2016-03-01,F,False,True,2,Servidor público,Secundário,União,Casa,34,7.219178,4.0,1160.99

In [11]:
X_train, X_test = train_test_split(X, train_size=0.75, random_state=100)

In [15]:
X_a = patsy.dmatrices('''np.log(renda) ~ C(data_ref)
                    + C(sexo) 
                    + C(posse_de_veiculo) 
                    + C(posse_de_imovel)
                    + qtd_filhos 
                    + C(tipo_renda) 
                    + C(educacao, Treatment(2)) 
                    + C(estado_civil) 
                    + C(tipo_residencia, Treatment(1)) 
                    + idade
                    + tempo_emprego
                    + qt_pessoas_residencia 
                    + 1''', X_train)
X_a

(DesignMatrix with shape (9327, 1)
   np.log(renda)
         8.05860
         8.77650
         8.67371
         9.25102
         9.23997
         8.77822
         8.45782
         7.64908
         7.41764
         7.70263
         7.73123
         8.25416
         8.60354
         8.78661
         7.85205
         8.90969
         7.03863
         6.83703
         7.40903
         8.27773
         8.19771
         6.81904
         7.44163
         7.80574
         8.19882
         8.81991
         8.08226
         9.34450
         9.28571
         8.02666
   [9297 rows omitted]
   Terms:
     'np.log(renda)' (column 0)
   (to view full data, use np.asarray(this_obj)),
 DesignMatrix with shape (9327, 39)
   Columns:
     ['Intercept',
      'C(data_ref)[T.2015-02-01]',
      'C(data_ref)[T.2015-03-01]',
      'C(data_ref)[T.2015-04-01]',
      'C(data_ref)[T.2015-05-01]',
      'C(data_ref)[T.2015-06-01]',
      'C(data_ref)[T.2015-07-01]',
      'C(data_ref)[T.2015-08-01]',
      'C(data_ref)[T.2015-09-01]',
      'C(data_ref)[T.2015-10-01]',
      'C(data_ref)[T.2015-11-01]',
      'C(data_ref)[T.2015-12-01]',
      'C(data_ref)[T.2016-01-01]',
      'C(data_ref)[T.2016-02-01]',
      'C(data_ref)[T.2016-03-01]',
      'C(sexo)[T.M]',
      'C(posse_de_veiculo)[T.True]',
      'C(posse_de_imovel)[T.True]',
      'C(tipo_renda)[T.Bolsista]',
      'C(tipo_renda)[T.Empresário]',
      'C(tipo_renda)[T.Pensionista]',
      'C(tipo_renda)[T.Servidor público]',
      'C(educacao, Treatment(2))[T.Primário]',
      'C(educacao, Treatment(2))[T.Pós graduação]',
      'C(educacao, Treatment(2))[T.Superior completo]',
      'C(educacao, Treatment(2))[T.Superior incompleto]',
      'C(estado_civil)[T.Separado]',
      'C(estado_civil)[T.Solteiro]',
      'C(estado_civil)[T.União]',
      'C(estado_civil)[T.Viúvo]',
      'C(tipo_residencia, Treatment(1))[T.Aluguel]',
      'C(tipo_residencia, Treatment(1))[T.Com os pais]',
      'C(tipo_residencia, Treatment(1))[T.Comunitário]',
      'C(tipo_residencia, Treatment(1))[T.Estúdio]',
      'C(tipo_residencia, Treatment(1))[T.Governamental]',
      'qtd_filhos',
      'idade',
      'tempo_emprego',
      'qt_pessoas_residencia']
   Terms:
     'Intercept' (column 0)
     'C(data_ref)' (columns 1:15)
     'C(sexo)' (column 15)
     'C(posse_de_veiculo)' (column 16)
     'C(posse_de_imovel)' (column 17)
     'C(tipo_renda)' (columns 18:22)
     'C(educacao, Treatment(2))' (columns 22:26)
     'C(estado_civil)' (columns 26:30)
     'C(tipo_residencia, Treatment(1))' (columns 30:35)
     'qtd_filhos' (column 35)
     'idade' (column 36)
     'tempo_emprego' (column 37)
     'qt_pessoas_residencia' (column 38)
   (to view full data, use np.asarray(this_obj)))